<app-header></app-header>
<div class=" clearfix"></div>
<br><br><br><br><br><br><br><br>
<section class="innerbody">
        <div class="container">
            <div class="body_container">
    <div class="row">
 
        <div class="col-sm-12">
            <div class="order-box">
            <h3 class="succesfully-text"><i class="fa" aria-hidden="true"><img src="assets/img/close-icon2.png"></i> Your order has been Cancelled</h3>
             <p class="p-text">We Could not Acquire the payment </p>
            <button class="signupbtn" type="submit">Try Again</button>
        </div></div>
    </div>
</div></div>
</section>
<div class=" clearfix"></div>
<app-footer></app-footer>