<div class="close-icon" (click)="closeModal()"><i class="fa fa-times-circle" aria-hidden="true"
    style="float: right;"></i></div>
 <div class="loginSection">
    <tabset *ngIf="showModal==1">
       <tab heading="Login" id="tab1">
          <form role="form" [formGroup]="signInForm" (ngSubmit)="submitSigninForm()" novalidate>
          <div class="container">
             <div class="row">
                <div class="col-12">
                   <div class="form-group">
                      <mat-form-field class="custom-full-width">
                         <input matInput placeholder="Email" formControlName="providerEmail" name="providerEmail">
                      </mat-form-field>
                      <p *ngIf="errorState(signinControls.providerEmail, 'email').message" class="help-block danger fw600" [innerHTML]="errorState(signinControls.providerEmail, 'email').message">
                    </p>
                   </div>
                </div>
                <div class="col-12">
                   <div class="form-group">
                      <mat-form-field class="custom-full-width">
                         <input matInput type="password" placeholder="Password" formControlName="providerPassword"
                            class="no-background-custom">
                      </mat-form-field>
                      <p *ngIf="errorState(signinControls.providerPassword, 'password').message" class="help-block danger fw600" [innerHTML]="errorState(signinControls.providerPassword, 'password').message">
                    </p>
                   </div>
                </div>
                <div class="col-12">
                   <button type="submit" class="btn btn-primary">Log in</button>
                </div>
             </div>
          </div>
          </form>
          <div>
             <br>
             <p ><span (click)="gotoForgotPass()" style="font-weight: bold;">Forgot Password? Click Here </span></p>
          </div>
       </tab>
    </tabset>
    <!-------------------Forget password----------------->
    <tabset *ngIf="showModal==2">
       <tab heading="Forgot Password">
          <form role="form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgetPass()" novalidate>
          <div class="container">
             <div class="row">
                <div class="col-12">
                   <div class="form-group" style="width: 200;">
                      <mat-form-field class="custom-full-width">
                         <input matInput placeholder="Email" formControlName="email" name="email">
                      </mat-form-field>
                      <p *ngIf="errorState(forgotPasswordControls.email, 'email').message" class="help-block danger fw600" [innerHTML]="errorState(forgotPasswordControls.email, 'email').message">
                    </p>
                   </div>
                   <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-12">
                   <br>
                   <p><span (click)="backtoLogin()" style="font-weight: bold;">Back to login</span></p>
                </div>
             </div>
          </div>
          </form>
       </tab>
    </tabset>
    <!----------------------OTP Form-------------------------------->
    <tabset *ngIf="showModal==3">
       <tab heading="Forgot Password">
          <form role="form" [formGroup]="forgotOTPForm" (ngSubmit)="otpMatch()" novalidate>
          <div class="container">
             <div class="row">
                <div class="col-12">
                   <div class="form-group" style="width: 200;">
                      <mat-form-field class="custom-full-width">
                         <input type="password" matInput placeholder="OTP" class="no-background-custom" formControlName="otp">
                      </mat-form-field>
                      <p *ngIf="errorState(forgotOTPControls.otp, 'otp').message" class="help-block danger fw600" [innerHTML]="errorState(forgotOTPControls.otp, 'otp').message">
                    </p>
                   </div>
                   <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-12">
                   <br>
                   <p><span (click)="backtoLogin()" style="font-weight: bold;">Back to login</span></p>
                </div>
             </div>
          </div>
          </form>
       </tab>
    </tabset>
    <!----------------------Change Password Form-------------------------------->
    <tabset *ngIf="showModal==4">
       <tab heading="Change Password">
          <form role="form" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()" novalidate>
          <div class="container">
          
             <div class="row">
                <div class="col-12">
                   <div class="form-group" style="width: 200;">
                      <mat-form-field class="custom-full-width">
                         <input type="password" class="no-background-custom" matInput placeholder="Password" formControlName="password">
                      </mat-form-field>
                      <p *ngIf="errorState(changePasswordControls.password, 'password').message" class="help-block danger fw600" [innerHTML]="errorState(changePasswordControls.password, 'password').message">
                     </p> 
                   </div>
                  
                </div>
        
             </div>
             <div class="row">
                <div class="col-12">
                   <div class="form-group" style="width: 200;">
                      <mat-form-field class="custom-full-width">
                         <input type="password" class="no-background-custom" matInput placeholder="confirmPassword" formControlName="confirmPassword">
                      </mat-form-field>
                      <p *ngIf="errorState(changePasswordControls.confirmPassword, 'confirmPassword').message" class="help-block danger fw600" [innerHTML]="errorState(changePasswordControls.confirmPassword, 'confirmPassword').message">
                     </p> 
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-12">
   
                   <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-12"><br>
                   <span (click)="backtoLogin()" style="font-weight: bold;">Back to login</span>
                </div>
             </div>
            </div>
          </form>
       </tab>
    </tabset>
 </div>