.succesfully-text{
    font-weight: 600;
    width: 100%;
    margin: 0px 0px;
    text-align: center;
    font-size: 23px;
    }

    .succesfully-box{
        width: 50%;
        margin: 0px auto;
        text-align: center;
        border: #ccc 1px solid;
        padding: 42px  22px;
        border-radius: 12px;
         }
