<app-header></app-header>
<div class=" clearfix"></div>
<br><br><br><br><br><br><br><br>
<section class="innerbody">
        <div class="container">
            <div class="body_container">
    <div class="row">
 
        <div class="col-sm-12">
            <div class="succesfully-box">
            <h3 class="succesfully-text"><i class="fa" aria-hidden="true"><img src="assets/img/order-success.png"></i>  Your order has been placed succesfully!!!</h3>
        </div></div>
    </div>
</div></div>
</section>
<div class=" clearfix"></div>
<app-footer></app-footer>