<div class="vd_content-section clearfix">
   <div class="row">
      <div class="col-sm-3">
         <div class="panel widget light-widget panel-bd-top">
            <div class="panel-heading no-title"> </div>
            <div class="panel-body">
               <div class="text-center vd_info-parent"> <img alt="example image" src="{{practionerDetails.pracImages}}"
                     onerror="this.src='assets/img/default-icon.png';"> </div>
                    
                           <div class="col-xs-12 name-prac"> <a class="btn vd_btn vd_bg-green btn-xs btn-block no-br"><i class="fa fa-check-circle append-icon"></i> {{practionerDetails.title ==1 ? 'Dr.'
                              : practionerDetails.title ==2 ? 'Mr.'
                              : 'Ms.'}}{{practionerDetails.firstName}} {{practionerDetails.lastName}}</a> </div>
                    
            </div>
         </div>
      </div>
      <div class="col-sm-9">
         <div class="tabs widget">
            <ul class="nav nav-tabs widget">
               <li class="active"> <a data-toggle="tab"> Practioner Details </a></li>
            </ul>
            <div class="tab-content">
               <div id="profile-tab" class="tab-pane active">
                  <div class="pd-20">
                     <div class="row">
                        <div class="col-sm-12">
                           <a class="btn vd_btn btn-xs vd_bg-yellow"  (click)="editPractioner(practionerDetails.pracId)"> <i class="fa fa-pencil append-icon"></i> Edit </a>

                           <a class="btn vd_btn btn-xs vd_bg-yellow"
                              (click)="deletePractioner(templateDelete,practionerDetails.pracId)"> <i
                                 class="fa fa-remove append-icon"></i> Delete </a>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-sm-6">
                           <div class="row mgbt-xs-0">
                              <label class="col-xs-5 control-label">Name:</label>
                              <div class="col-xs-7 controls">
{{practionerDetails.firstName}} {{practionerDetails.lastName}}</div>

                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="row mgbt-xs-0">
                              <label class="col-xs-5 control-label">Gender:</label>
                              <div class="col-xs-7 controls">{{practionerDetails.gender ==1 ? 'Male' : 'Female'}}</div>

                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="row mgbt-xs-0">
                              <label class="col-xs-5 control-label">Reg. Licensed In:</label>
                              <div class="col-xs-7 controls">{{practionerDetails.CountryName}}</div>

                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="row mgbt-xs-0">
                              <label class="col-xs-5 control-label">Licence No:</label>
                              <div class="col-xs-7 controls">{{practionerDetails.passportNumber}}</div>

                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="row mgbt-xs-0">
                              <label class="col-xs-5 control-label">Practicing Since:</label>
                              <div class="col-xs-7 controls">{{practionerDetails.practisingSince}}</div>

                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="row mgbt-xs-0">
                              <label class="col-xs-5 control-label">Qualification:</label>
                              <div class="col-xs-7 controls">{{practionerDetails.qualification}}</div>

                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="row mgbt-xs-0">
                              <label class="col-xs-5 control-label">aboutPractitioner:</label>
                              <div class="col-xs-7 controls">{{practionerDetails.aboutPractioner}}</div>

                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="row mgbt-xs-0">
                              <label class="col-xs-5 control-label">Specility:</label>
                              <div class="col-xs-7 controls">{{practionerDetails.fieldSpeciality}}</div>

                           </div>
                        </div>

                     </div>
                     <hr class="pd-10">
                     <div class="row">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<ng-template #templateDelete>
   <div class="modal-body text-center">
      <p>Are you sure to delete the procedure?</p>
      <button type="button" class="btn btn-default" (click)="confirmDelete(practionerId)">Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()">No</button>
   </div>
</ng-template>