<app-header></app-header>
<div class=" clearfix"></div>
<br><br>
<section class="innerbody">
     <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
             <div class="row">
             <div class="col-sm-3 col-xs-12 gallerytop">
                 <div class="galleryimg"><img alt="" src="assets/img/featured1.png" title=""></div>
                 <div class="galleryimg"><img alt="" src="assets/img/featured2.png" title=""></div>
                 <div class="galleryimg"><img alt="" src="assets/img/featured3.png" title=""></div>        
                </div>
            <div class="col-sm-9 col-xs-12">
                    <div class="prodetail-img"><img alt="" src="assets/img/featured1.png" title=""></div>

            <div class="leftbtn"> <button class="cartbtn3" type="submit">Add to Cart</button> 
                <button class="cartbtn2" type="submit">View</button></div>

                </div></div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="prodetail-section">
                  <h2>Sinus And Allergy Exam  <br>
                    <span> Price:950 USD/4500MYR</span></h2>  

                    <h2>Service Provider<br>
                     <span> Xyz Clinic-MP</span></h2>  

                     <h2>Address-<br>
                       <span>Jalan Jelok 6, Kajang, Selangor-43000</span></h2>                
                       <div class="ratingstar">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>  
                        </div>
                 </div> 
                 
             <!-- <div class="rating-section">
               <div class="textiles">Ratings & Reviews <span><a href="#">Rate It</a></span></div>

               <div class="rating-box">
                <div class="row">
                    <div class="col-sm-9 col-xs-12"><div class="ratinhuser-img"><img alt="" src="assets/img/cart-imgs.jpg" title=""></div>
                        <div class="ratingstar">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>  
                        </div>
                   <p>Ya It's Good</p></div>
                    <div class="col-sm-3 col-xs-12"><h3><i class="fa fa-thumbs-up" aria-hidden="true"></i> 243</h3>  <h3> <i class="fa fa-thumbs-down" aria-hidden="true"></i> 23</h3></div>
                </div>
         
            </div>

            <div class="rating-box last">
                <div class="row">
                    <div class="col-sm-9 col-xs-12"><div class="ratinhuser-img"><img alt="" src="assets/img/cart-imgs.jpg" title=""></div>
                        <div class="ratingstar">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>  
                        </div>
                   <p>Ya It's Good</p></div>
                    <div class="col-sm-3 col-xs-12"><h3><i class="fa fa-thumbs-up" aria-hidden="true"></i> 243</h3>  <h3> <i class="fa fa-thumbs-down" aria-hidden="true"></i> 23</h3></div>
                </div>
         
            </div>



             </div>  -->

            </div>

      </div></div>
</section>
<div class=" clearfix"></div>
<br><br>
<app-footer></app-footer>