<div id="menu2" class="col-12"><br>
    <h3>Consumer Review</h3>
    <!-- <div class="row text-center">
        <div class="col-sm-12 col-xs-12 mb-3">
            <div class="consumer-reviews">
                <div class="imgbox"><img src="assets/img/testimonial-1.jpg" alt="" title="">
                    <div class="clearfix"></div>
                    <h4>Saul Goodman</h4>
                </div>
                <div class="review-right">
                    <div class="ratings-icons">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <h4>Proceed review <span>17/11.2019</span></h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                        anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                        Internet tend to repeat predefined chunks as necessary, making this the first true generator on
                        the Internet. </p>
                </div>
            </div>
        </div> 

    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-xs-12">
            <div class="consumer-reviews">
                <div class="imgbox"><img src="assets/img/testimonial-2.jpg" alt="" title="">
                    <div class="clearfix"></div>
                    <h4>Jena Karlis</h4>
                </div>
                <div class="review-right">
                    <div class="ratings-icons">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <h4>Proceed review <span>17/11.2019</span></h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.</p>

                </div>
            </div>
        </div> 

    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-xs-12 mb-3">
            <div class="consumer-reviews">
                <div class="imgbox"><img src="assets/img/testimonial-3.jpg" alt="" title="">
                    <div class="clearfix"></div>
                    <h4>Saul Goodman</h4>
                </div>
                <div class="review-right">
                    <div class="ratings-icons">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <h4>Proceed review <span>17/11.2019</span></h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                        anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                        Internet tend to repeat predefined chunks as necessary, making this the first true generator on
                        the Internet. </p>
                </div>
            </div>
        </div>

    </div> -->

    <div class="no-records">
        <p>Comming Soon</p>
    </div>
</div>