
.mat-radio-button {
      padding-left: 25px;
        }
.mat-radio-outer-circle {
        height: 15px;
        width: 15px;       
        }
.mat-radio-label-content {      
            font-size: 14px;
        }
.showForm_box{
    padding: 15px;
} 

.btn-primary {
    color: #000000;
    background-color: #FCBE11;
    border-color: #FCBE11;
}
