<div class="container">
    <h2>Practioners</h2>
    <div class="table-responsive"><br>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Speciality</th>
                                        <th>Procedure</th>
                                        <th>About Procedure</th>
                                        <th>Procedure&nbsp;Images</th>
                                        <th>Price</th>
                                        <th>View</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="trboder">
                                        <td>Cardiac&nbsp;Imaging</td>
                                        <td>Stress&nbsp;Test</td>
                                        <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                            <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                            <br>
                                        </td>
                                        <td><img class="table-img1" src="assets/img/table-img-1.jpg" alt="" title=""></td>
                                        <td>MYR&nbsp;100/USD50</td>
                                        <td><i style="font-size:24px" class="fa">&#xf06e;</i></td>
                                       
                                        
                                      
                            
                                    </tr>
                                 
                             
                                </tbody>
                            </table>
                        </div>
                    </div>