<div class="container" style="padding: 10px;">
        <div class="row">
            <div class="col-lg-3">
                <app-servicesidebar></app-servicesidebar>
            </div>
            <div class="mainframe1 mainframe2">
                <div class="mainframeHeight">
                    <div class="mainframeShadow">
                        <div class="mainframePadding">
                            <div class="mainframeForm">
                                <div class="ContentPadding">
                                    <span class="ContentPadding .fontCss">Change Password</span>
    
                                </div>
                                <div>
                                    <form role="form" [formGroup]="chnagePasswordForm" (ngSubmit)="passwordUpdate()"
                                        novalidate>
                                        <div class="container">
                                            <div class="row paddingGap">
                                                <div class="col-md">
                                                    <div class="form-group">
                                                        <mat-form-field>
                                                            <input matInput type="text" placeholder="Password"
                                                                formControlName="password" class="no-background-custom">
                                                        </mat-form-field>
                                                        <p *ngIf="errorState(changePasswordControls.password, 'password').message"
                                                            class="help-block danger fw600"
                                                            [innerHTML]="errorState(changePasswordControls.password, 'password').message">
                                                        </p>
                                                    </div>
                                                </div>
                                              
    
                                            </div>
    
                                        </div>
                                        <div>
                                            <input type="submit"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>