<section class="headerTopRow">
    <div class="container">
        <p>For more information call us 099 1249 5478</p>
    </div>
</section>


<!-- Start Navbar-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand pb-2" [routerLink]="'/home'"><img src="assets/img/new-logo.png" class="d-block w-100" alt="Sihatku" title="Sihatku"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="searchbox">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <span class="input-group-text lime lighten-2" id="basic-text1"><a href="JavaScript:void(0);"><i class="fa fa-search text-grey"
                  aria-hidden="true"></i></a></span>
                    </div>
                </div>
            </div>
            <div class="homeNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="JavaScript:void(0);" data-toggle="modal" data-target="#modalLRForm">Log in / Sign up</a> -->
                        <a class="nav-link" (click)="openSigninModal()">Log in / Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#downloadapp">Download the app</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="JavaScript:void(0);">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="service-provider-registration.html">Become a service provider</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="JavaScript:void(0);"> Explore Sihatku</a>
                    </li>


                </ul>

            </div>
        </div>
    </div>
</nav>
<!--/.End Navbar-->