
<div id="menu2" class="col-12"><br> 
    <h3>Order History</h3>
    <div class="col-12 p-0 table-responsive">
 
        <accordion [isAnimated]="true" [closeOthers]="true">
            <accordion-group  *ngFor="let order of orderList; let i = index" class="card-header22" style="margin-top:5px; margin-bottom: 9px;">
                <div accordion-heading style="width:100%; font-weight: 600;">ORDER ID : #{{order.OrderID}}</div>
       
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Procedure Name</th>
                  <th>Patient Name</th>
                  <th>Booking Date</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Action</th>
                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let orderdetails of order.OrderDetails; let i = index">
                  <td>{{orderdetails.procedurename}}</td>
                  <td>-----</td>
                  <td>{{orderdetails.buydate}}</td>
                  <td>{{orderdetails.amount}}</td>
                  <td>-----</td>
                  <td><button type="button" class="btn btn-primary">Pending</button></td>    
                </tr>        
                
              </tbody>
            </table>
          </accordion-group>
      
        </accordion>
      
        <div class="no-records" *ngIf="orderList.length ==0">
          <p>Comming Soon</p>
      </div>
      </div>
  </div>
