<div class="orderHeader">

    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <div class="orderPageLogo">
                    <a href="index.html"><img src="assets/img/logo.png" class="d-block w-100" alt="Sihatku" title="Sihatku"></a>
                </div>
            </div>

            <div class="col-md-4">

                <div class="dropdown welcomeRow">
                    <a class="btn btn-secondary dropdown-toggle" href="JavaScript:void(0);" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Welcome Sihatku
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="JavaScript:void(0);">Action</a>
                        <!-- <a class="dropdown-item" href="JavaScript:void(0);">Another action</a> -->
                        <!-- <a class="dropdown-item" href="JavaScript:void(0);">Something else here</a> -->
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>






<div class="container">
    <div class="procedures">

        <!-- Nav tabs -->
        <div class="row">
            <div class="col-md-9">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home">
                            <img src="assets/img/Practioners.png">
                        </a>
                        <a href="#">
                            <h2 class="navtext">practioners</h2>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#menu1">
                            <img src="assets/img/MyProcedures.png">
                        </a>
                        <a href="#">
                            <h2 class="navtext">My Procedures</h2>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#menu2">
                            <img src="assets/img/NewOrders.png">
                        </a>
                        <a href="#">
                            <h2 class="navtext">New Orders</h2>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#menu3">
                            <img src="assets/img/OrderHistory.png">
                        </a>
                        <a href="#">
                            <h2 class="navtext">Order History</h2>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#menu4">
                            <img src="assets/img/Mypayments.png">
                        </a>
                        <a href="#">
                            <h2 class="navtext">My payments</h2>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#menu5">
                            <img src="assets/img/Consumerreviews.png">
                        </a>
                        <a href="#">
                            <h2 class="navtext">Consumerre Views</h2>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <img src="assets/img/switchtoconsumerfront.png">
                        </a>
                        <a href="#">
                            <h2 class="navtext">Switch to Consumer Front</h2>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link last" href="#menu7">
                            <img src="assets/img/inbox.png">
                        </a>
                        <a href="#">
                            <h2 class="navtext">Inbox</h2>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link last" href="#menu8">
                            <img src="assets/img/Exploresihatku.png">
                        </a>
                        <a href="#">
                            <h2 class="navtext">Explore sihatku</h2>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="search-formRow">
                    <form action="" class="search-form">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="search" id="search" placeholder="search">
                            <span class="glyphicon glyphicon-search form-control-feedback"><i class="fa fa-search" aria-hidden="true"></i>
                          </span>
                        </div>
                    </form>
                </div>

                <br clear="all">

                <div class="addRow">
                    <p><span><i class="fa fa-plus-square" aria-hidden="true"></i></span>Add a Procedure</p>
                </div>


            </div>
        </div>



        <!-- Tab panes -->
        <div class="tab-content border mb-3">
            <div id="home" class="container tab-pane active">
                <div class="row">
                    <br>
                    <div class="table-responsive">
                        <table class="table table-borderles">
                            <thead>
                                <tr>
                                    <th>Speciality</th>
                                    <th>Procedure</th>
                                    <th>About Procedure</th>
                                    <th>Procedure&nbsp;Images</th>
                                    <th>Price</th>
                                    <th>Practitioner</th>
                                    <th>Photo</th>
                                    <th>Country</th>
                                    <th>Gender</th>
                                    <th>Speciality</th>
                                    <th>Practice</th>
                                    <th>Qualification</th>
                                    <th>About&nbsp;Practioner</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="trboder">
                                    <td>Cardiac&nbsp;Imaging</td>
                                    <td>Stress&nbsp;Test</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/table-img-1.jpg" alt="" title=""></td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>
                                        <p>Dr.Usman <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>Mr.Rafee <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/doctor.png" alt="" title=""><br><img class="table-img1" src="assets/img/user.png" alt="" title=""></td>
                                    <td>Malaysia<br> USA</td>
                                    <td>Male<br>Male</td>
                                    <td>
                                        <p>Plastic&nbsp;Surgery&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>General&nbsp;Practitioner <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>
                                        <p>Kuala&nbsp;Lumpur&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>MBBS<br>MD</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                    </td>
                                    <td>
                                        <a href="#"><img class="table-img1" src="assets/img/percent.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/edit.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/delete.png" alt="" title=""></a>
                                    </td>
                                </tr>
                                <tr class="trboder">
                                    <td>Cardiology</td>
                                    <td>Holter&nbsp;Monitoring</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/table-img-1.jpg" alt="" title=""></td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>
                                        <p>Dr.Usman <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>Mr.Rafee <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/doctor.png" alt="" title=""><br><img class="table-img1" src="assets/img/user.png" alt="" title=""></td>
                                    <td>Malaysia<br> USA</td>
                                    <td>Male<br>Male</td>
                                    <td>
                                        <p>Plastic&nbsp;Surgery&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>General&nbsp;Practitioner <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>
                                        <p>Kuala&nbsp;Lumpur&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>MBBS<br>MD</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                    </td>
                                    <td>
                                        <a href="#"><img class="table-img1" src="assets/img/percent.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/edit.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/delete.png" alt="" title=""></a>
                                    </td>
                                </tr>
                                <tr class="trboder">
                                    <td>ENT</td>
                                    <td>Ear&nbsp;Biopsy</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/table-img-1.jpg" alt="" title=""></td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>
                                        <p>Dr.Usman <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>Mr.Rafee <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/doctor.png" alt="" title=""><br><img class="table-img1" src="assets/img/user.png" alt="" title=""></td>
                                    <td>Malaysia<br> USA</td>
                                    <td>Male<br>Male</td>
                                    <td>
                                        <p>Plastic&nbsp;Surgery&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>General&nbsp;Practitioner <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>
                                        <p>Kuala&nbsp;Lumpur&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>MBBS<br>MD</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                    </td>
                                    <td>
                                        <a href="#"><img class="table-img1" src="assets/img/percent.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/edit.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/delete.png" alt="" title=""></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div id="menu1" class="container tab-pane fade">
                <div class="row">
                    <br>
                    <h3>New Orders</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Orders&nbsp;Id</th>
                                    <th>Procedure</th>
                                    <th>Procedure&nbsp;Price</th>
                                    <th>Discount</th>
                                    <th>Customer&nbsp;Name</th>
                                    <th>Customer&nbsp;Ph.&nbsp;No.</th>
                                    <th>Gender</th>
                                    <th>Country</th>
                                    <th>Appointment&nbsp;Date</th>
                                    <th>Payment&nbsp;Amount</th>
                                    <th>Payment&nbsp;Method</th>
                                    <th>Payment&nbsp;Status</th>
                                    <th>Practitioner</th>
                                    <th>Appointment&nbsp;Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>654321</td>
                                    <td>Stress&nbsp;Test</td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>10%</td>
                                    <td>Mr.Rafee</td>
                                    <td>0000000000</td>
                                    <td>Male</td>
                                    <td>Malaysia</td>
                                    <td>16.11.2019</td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>Cash</td>
                                    <td>
                                        <select class="mdb-select">
                                   <option value="1">Choose Option</option>
                                   <option value="2">Pay Online</option>
                                   <option value="2">Bank Transfers</option>
                                   <option value="2">Cash</option>
                                   <option value="2">Direct Deposit</option>
                                   <option value="2">Pending</option>
                                </select>
                                    </td>
                                    <td>
                                        <select class="mdb-select">
                                   <option value="1">Choose Option</option>
                                   <option value="2">.....</option>
                                </select>
                                    </td>
                                    <td>
                                        <select class="mdb-select">
                                   <option value="1">Choose Option</option>
                                   <option value="2">.....</option>
                                </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div id="menu2" class="container tab-pane fade">
                <br>
                <div class="row">
                    <h3>Order History</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Orders&nbsp;Id</th>
                                    <th>Procedure</th>
                                    <th>Procedure&nbsp;Price</th>
                                    <th>Discount</th>
                                    <th>Customer&nbsp;Name</th>
                                    <th>Customer&nbsp;Ph.&nbsp;No.</th>
                                    <th>Gender</th>
                                    <th>Country</th>
                                    <th>Actual&nbsp;Date</th>
                                    <th>Appointment&nbsp;Date</th>
                                    <th>Payment&nbsp;Amount</th>
                                    <th>Payment&nbsp;Method</th>
                                    <th>Payment&nbsp;Status</th>
                                    <th>Practitioner</th>
                                    <th>Appointment&nbsp;Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>654321</td>
                                    <td>Stress&nbsp;Test</td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>10%</td>
                                    <td>Mr.Rafee</td>
                                    <td>0000000000</td>
                                    <td>Male</td>
                                    <td>Malaysia</td>
                                    <td>16.11.2019</td>
                                    <td>16.11.2019</td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>Bank Transfers</td>
                                    <td>Pay&nbsp;Online</td>
                                    <td>.....</td>
                                    <td>.....</td>
                                </tr>
                                <tr>
                                    <td>654321</td>
                                    <td>Stress&nbsp;Test</td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>10%</td>
                                    <td>Mr.Rafee</td>
                                    <td>0000000000</td>
                                    <td>Male</td>
                                    <td>Malaysia</td>
                                    <td>16.11.2019</td>
                                    <td>16.11.2019</td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>Cash</td>
                                    <td>Pending</td>
                                    <td>.....</td>
                                    <td>.....</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div id="menu3" class="container tab-pane fade">
                <div class="row">
                    <br>
                    <h3>My Payments</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Payment&nbsp;Id</th>
                                    <th>Payment&nbsp;Amount</th>
                                    <th>Paid&nbsp;By</th>
                                    <th>Date&nbsp;of&nbsp;Payment</th>
                                    <th>Orders&nbsp;Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>654321</td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>Cash</td>
                                    <td>16/11/2019</td>
                                    <td>123444</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




            <div id="menu4" class="container tab-pane fade">
                <br>
                <div class="row text-center">
                    <div class="col-sm-12 col-xs-12 mb-3">
                        <div class="consumer-reviews">
                            <div class="imgbox">
                                <img src="assets/img/testimonial-1.jpg" alt="" title="">
                                <div class="clearfix"></div>
                                <h4>Saul Goodman</h4>
                            </div>
                            <div class="review-right">
                                <div class="ratings-icons">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4>Proceed review <span>17/11.2019</span></h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                                    this the first true generator on the Internet.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row text-center">
                    <div class="col-sm-12 col-xs-12">
                        <div class="consumer-reviews">
                            <div class="imgbox">
                                <img src="assets/img/testimonial-2.jpg" alt="" title="">
                                <div class="clearfix"></div>
                                <h4>Jena Karlis</h4>
                            </div>
                            <div class="review-right">
                                <div class="ratings-icons">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4>Proceed review <span>17/11.2019</span></h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row text-center">
                    <div class="col-sm-12 col-xs-12 mb-3">
                        <div class="consumer-reviews">
                            <div class="imgbox">
                                <img src="assets/img/testimonial-3.jpg" alt="" title="">
                                <div class="clearfix"></div>
                                <h4>Saul Goodman</h4>
                            </div>
                            <div class="review-right">
                                <div class="ratings-icons">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4>Proceed review <span>17/11.2019</span></h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                                    this the first true generator on the Internet.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="menu5" class="container tab-pane fade">
                <br>
                <h3>Inbox</h3>
                <div class="messaging">
                    <div class="inbox_msg">
                        <div class="inbox_people">
                            <div class="headind_srch">

                                <div class="srch_bar">
                                    <div class="stylish-input-group">
                                        <input type="text" class="search-bar" placeholder="Search">
                                        <span class="input-group-addon">
                                   <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                   </span>
                                    </div>
                                </div>
                            </div>
                            <div class="inbox_chat">
                                <div class="chat_list active_chat">
                                    <div class="chat_people">
                                        <div class="chat_img"><img src="assets/img/user-profile.png" alt=""></div>
                                        <div class="chat_ib">
                                            <h5>Anant Singh <span class="chat_date">Nov 18</span></h5>
                                            <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat_list">
                                    <div class="chat_people">
                                        <div class="chat_img"><img src="assets/img/user-profile.png" alt=""></div>
                                        <div class="chat_ib">
                                            <h5>Anant Singh <span class="chat_date">Nov 18</span></h5>
                                            <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat_list">
                                    <div class="chat_people">
                                        <div class="chat_img"><img src="assets/img/user-profile.png" alt=""></div>
                                        <div class="chat_ib">
                                            <h5>Anant Singh <span class="chat_date">Nov 18</span></h5>
                                            <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat_list">
                                    <div class="chat_people">
                                        <div class="chat_img"><img src="assets/img/user-profile.png" alt=""></div>
                                        <div class="chat_ib">
                                            <h5>Anant Singh <span class="chat_date">Nov 18</span></h5>
                                            <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat_list">
                                    <div class="chat_people">
                                        <div class="chat_img"><img src="assets/img/user-profile.png" alt=""></div>
                                        <div class="chat_ib">
                                            <h5>Anant Singh <span class="chat_date">Nov 18</span></h5>
                                            <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat_list">
                                    <div class="chat_people">
                                        <div class="chat_img"><img src="assets/img/user-profile.png" alt=""></div>
                                        <div class="chat_ib">
                                            <h5>Anant Singh <span class="chat_date">Nov 18</span></h5>
                                            <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat_list">
                                    <div class="chat_people">
                                        <div class="chat_img"><img src="assets/img/user-profile.png" alt=""></div>
                                        <div class="chat_ib">
                                            <h5>Anant Singh <span class="chat_date">Nov 18</span></h5>
                                            <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mesgs">
                            <div class="msg_history">
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"><img src="assets/img/user-profile.png" alt=""> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>Test which is a new approach to have all solutions
                                            </p>
                                            <span class="time_date"> 11:01 AM    |    June 9</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <p>Test which is a new approach to have all solutions
                                        </p>
                                        <span class="time_date"> 11:01 AM    |    June 9</span>
                                    </div>
                                </div>
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"><img src="assets/img/user-profile.png" alt=""></div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>Test, which is a new approach to have</p>
                                            <span class="time_date"> 11:01 AM    |    Yesterday</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <p>Apollo University, Delhi, India Test</p>
                                        <span class="time_date"> 11:01 AM    |    Today</span>
                                    </div>
                                </div>
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"><img src="assets/img/user-profile.png" alt=""></div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>We work directly with our designers and suppliers, and sell direct to you, which means quality, exclusive products, at a price anyone can afford.</p>
                                            <span class="time_date"> 11:01 AM    |    Today</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="type_msg">
                                <div class="input_msg_write">
                                    <input type="text" class="write_msg" placeholder="Type a message" />
                                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu6" class="container tab-pane fade">
                <br>
                <h3>Switch to Consumer Front</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div id="menu7" class="container tab-pane fade">
                <br>
                <h3>Explore Sihatku</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>
<!-- End My Procedures -->




<!---------------------------------------------------------->

<!-- Start Footer -->
<footer class="page-footer font-small cyan darken-3">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <div class="container">
            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">
                    <div class="footerIcon flex-center">

                        <!-- Facebook -->
                        <a class="fb-ic" href="javascript:void(0);"> <i class="fa fa-facebook-f fa-lg white-text mr-3 fa-2x"> </i> </a>

                        <!-- Twitter -->
                        <a class="tw-ic" href="javascript:void(0);"> <i class="fa fa-twitter fa-lg white-text  mr-3 fa-2x"> </i> </a>

                        <!--Instagram-->
                        <a class="ins-ic" href="javascript:void(0);"> <i class="fa fa-instagram fa-lg white-text mr-3 fa-2x"> </i> </a>

                        <!--Youtube-->
                        <a class="ins-ic" href="javascript:void(0);"> <i class="fa fa-youtube fa-lg white-text mr-3 fa-2x"> </i> </a>

                        <!--linkin-->
                        <a class="ins-ic" href="javascript:void(0);"> <i class="fa fa-linkedin fa-lg white-text mr-3 fa-2x"> </i> </a>

                        <!--pinterest--->

                        <a class="ins-ic" href="javascript:void(0);"> <i class="fa fa-pinterest-p fa-lg white-text mr-3 fa-2x"> </i> </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

            <div _ngcontent-jyo-c5="" class="container">
                <div _ngcontent-jyo-c5="" class="footer-copyright text-center py-3"> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">Terms &amp; Conditions</a> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">Privacy Policy</a> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">( c ) 2019 - 2027 Sihatku.com</a>                    <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">Payment Policy</a> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">Disclamer</a> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">FA Qs etc</a></div>
            </div>
        </div>

        <!-- Copyright -->
    </div>
</footer>
<!--/.End Footer -->

<!--/.End Footer -->