<app-header-provider></app-header-provider>
<div class="container">
   <div class="procedures">
      <div class="row">
         <div class="col-md-12">
            <ul class="nav nav-tabs">
               <li class="nav-item" [routerLinkActive]="['active']">
               <a class="nav-link active" [routerLink]="'/dashboard/practioners'">
               <img src="assets/img/Practioners.png">
               </a>
               <a>
                  <h2 class="navtext">practitioners</h2>
               </a>
               </li>
               <li class="nav-item" [routerLinkActive]="['active']" >
               <a class="nav-link" [routerLink]="'/dashboard/my-procedures'">
               <img src="assets/img/MyProcedures.png">
               </a>
               <a>
                  <h2 class="navtext">My Procedures</h2>
               </a>
               </li>
               <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
               true}">
               <a class="nav-link" [routerLink]="'/dashboard/new-oders'">
               <img src="assets/img/NewOrders.png">
               </a>
               <a>
                  <h2 class="navtext">New Orders</h2>
               </a>
               </li>
               <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
               true}">
               <a class="nav-link" [routerLink]="'/dashboard/order-history'">
               <img src="assets/img/OrderHistory.png">
               </a>
               <a>
                  <h2 class="navtext">Order History</h2>
               </a>
               </li>
               <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
               true}">
               <a class="nav-link" [routerLink]="'/dashboard/my-payments'">
               <img src="assets/img/Mypayments.png">
               </a>
               <a>
                  <h2 class="navtext">My payments</h2>
               </a>
               </li>
               <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
               true}">
               <a class="nav-link" [routerLink]="'/dashboard/consumer-Review'">
               <img src="assets/img/Consumerreviews.png">
               </a>
               <a>
                  <h2 class="navtext">Consumer Reviews</h2>
               </a>
               </li>
            
               <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
               true}">
               <a class="nav-link last" [routerLink]="'/dashboard/inbox'">
               <img src="assets/img/inbox.png">
               </a>
               <a >
                  <h2 class="navtext">Inbox</h2>
               </a>
               </li>
               
               <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                  true}">
                  <a class="nav-link last" [routerLink]="'/dashboard/myProfile'">
                  <img src="assets/img/Exploresihatku.png">
                  </a>
                  <a>
                     <h2 class="navtext">My Profile</h2>
                  </a>
                  </li>
               <!-- <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                  true}">
                  <a class="nav-link" (click)="openModal(template)">
                  <img src="assets/img/switchtoconsumerfront.png">
                  </a>
                  <a>
                     <h2 class="navtext">Switch to Consumer</h2>
                  </a>
                  </li> -->
            </ul>
         </div>
        
      </div>
      <div class="col-12 p-0 border-none mb-3">
         <router-outlet></router-outlet>
      </div>
   </div>
</div>
<ng-template #template>
   <div class="modal-body text-center">
     <p>Do you want to go home page?</p>
     <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
     <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
   </div>
 </ng-template>

<!-- Start Footer -->
<app-footer-provider></app-footer-provider>
<!--/.End Footer -->