<div id="menu2" class="col-12"><br> 
    <div class="row">
        <div class="col-md-4"><h3>My Procedure</h3> </div>
     
         <div class="col-md-5">
           <div class="search-formRow">
              <form action="" class="search-form">
                 <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                    <span class="glyphicon glyphicon-search form-control-feedback"><i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                 </div>
              </form>
           </div>
           <br clear="all">
         </div>
         <div class="col-md-3">
           <div class="addRow">
              <p><span><i class="fa fa-plus-square" aria-hidden="true"></i></span>Add a Procedure</p>
           </div>
        </div> 
     
     </div>
<div class="table-responsive"><br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Speciality</th>
                                    <th>Procedure</th>
                                    <th>About Procedure</th>
                                    <th>Procedure&nbsp;Images</th>
                                    <th>Price</th>
                                    <th>Practitioner</th>
                                    <th>Photo</th>
                                    <th>Country</th>
                                    <th>Gender</th>
                                    <th>Speciality</th>
                                    <th>Practice</th>
                                    <th>Qualification</th>
                                    <th>About&nbsp;Practioner</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="trboder">
                                    <td>Cardiac&nbsp;Imaging</td>
                                    <td>Stress&nbsp;Test</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br>
                                    </td>
                                    <td><img (click)="openModal(template)" class="table-img1" src="assets/img/table-img-1.jpg" alt="" title=""></td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>
                                        <p>Dr.Usman <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>Mr.Rafee <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/doctor.png" alt="" title=""><br><img class="table-img1" src="assets/img/user.png" alt="" title=""></td>
                                    <td>Malaysia<br> USA</td>
                                    <td>Male<br>Male</td>
                                    <td>
                                        <p>Plastic&nbsp;Surgery&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>General&nbsp;Practitioner <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>
                                        <p>Kuala&nbsp;Lumpur&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>MBBS<br>MD</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                    </td>
                                    <td>
                                        <a href="#"><img class="table-img1" src="assets/img/percent.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/edit.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/delete.png" alt="" title=""></a>
                                    </td>
                                </tr>
                                <tr class="trboder">
                                    <td>Cardiology</td>
                                    <td>Holter&nbsp;Monitoring</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/table-img-1.jpg" alt="" title=""></td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>
                                        <p>Dr.Usman <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>Mr.Rafee <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/doctor.png" alt="" title=""><br><img class="table-img1" src="assets/img/user.png" alt="" title=""></td>
                                    <td>Malaysia<br> USA</td>
                                    <td>Male<br>Male</td>
                                    <td>
                                        <p>Plastic&nbsp;Surgery&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>General&nbsp;Practitioner <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>
                                        <p>Kuala&nbsp;Lumpur&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>MBBS<br>MD</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                    </td>
                                    <td>
                                        <a href="#"><img class="table-img1" src="assets/img/percent.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/edit.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/delete.png" alt="" title=""></a>
                                    </td>
                                </tr>
                                <tr class="trboder">
                                    <td>ENT</td>
                                    <td>Ear&nbsp;Biopsy</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/table-img-1.jpg" alt="" title=""></td>
                                    <td>MYR&nbsp;100/USD50</td>
                                    <td>
                                        <p>Dr.Usman <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>Mr.Rafee <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td><img class="table-img1" src="assets/img/doctor.png" alt="" title=""><br><img class="table-img1" src="assets/img/user.png" alt="" title=""></td>
                                    <td>Malaysia<br> USA</td>
                                    <td>Male<br>Male</td>
                                    <td>
                                        <p>Plastic&nbsp;Surgery&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                        <br>
                                        <p>General&nbsp;Practitioner <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>
                                        <p>Kuala&nbsp;Lumpur&nbsp; <span><img class="table-img1" src="assets/img/info.png" alt="" title=""></span></p>
                                    </td>
                                    <td>MBBS<br>MD</td>
                                    <td>Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text<br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                        <br> Lorem&nbsp;Ipsum&nbsp;is&nbsp;simply&nbsp;dummy&nbsp;text
                                    </td>
                                    <td>
                                        <a href="#"><img class="table-img1" src="assets/img/percent.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/edit.png" alt="" title=""></a><br>
                                        <a href="#"><img class="table-img1" src="assets/img/delete.png" alt="" title=""></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <ng-template #template>
                    <div class="modal-body">
                    <!-- Start Banner -->
                    <div id="carousel-example-2" class="carousel topheight slide carousel-fade" data-ride="carousel">
                        <!--Indicators-->

                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <owl-carousel-o [options]="bannerOptions">
                                <ng-template carouselSlide *ngFor="let banner of mediaList; let i = index">
                                    <div class="carousel-item active">
                                        <div class="view"> <img class="d-block w-100" [src]="banner.image"
                                                alt="First slide">
                                            <div class="mask rgba-black-light"></div>
                                        </div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>

                        </div>
                        <!--/.Slides-->
                    </div>
                    <!--/.End Banner-->
                </div>
                </ng-template>