<!-- Start ServiceForm -->
<div class="container-fluid">
  
    
        <!-- Start Services Supported -->
        <div class="serviceform">
    
                <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h2>Services Supported</h2>
                        </div>
                    </div>
    
                <div class="services-section">
            <div class="row">        
    
                <div class="col-sm-12 col-xs-12">
                    <div class="row" style="display: none;">
                        <div class="col-sm-12 col-xs-12">
                            <button class="btn11 mb-4" type="button"><i aria-hidden="true" class="fa fa-plus"></i>
                                Add More
                            </button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Speciality</th>
                                <th>Procedure</th>
                                <th>About Procedure</th>
                                <th>Set Price USD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-11 col-xs-12">
                                            <mat-form-field>
                                                <select matNativeControl required>
                                                    <option value="select">Speciality</option>
                                                    <option value="saab"></option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-11 col-xs-12">
                                            <mat-form-field>
                                                <select matNativeControl required>
                                                    <option value="select">Procedure</option>
                                                    <option value="saab"></option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-11 col-xs-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="About Procedure">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Set Price USD">
                                            </mat-form-field>
                                        </div>
    
                                        <div class="col-sm-6 col-xs-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Set Price MYR">
                                            </mat-form-field>
                                        </div>
    
                                        <div class="col-sm-1 col-xs-12">
                                            <!-- <a href="#"><i class="fa fa-minus-square fatop" aria-hidden="true"></i></a> -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-11 col-xs-12">
                                            <mat-form-field>
                                                <select matNativeControl required>
                                                    <option value="select">Speciality</option>
                                                    <option value="saab"></option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-11 col-xs-12">
                                            <mat-form-field>
                                                <select matNativeControl required>
                                                    <option value="select">Procedure</option>
                                                    <option value="saab"></option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-11 col-xs-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="About Procedure">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Set Price USD" value="">
                                            </mat-form-field>
                                        </div>
    
                                        <div class="col-sm-6 col-xs-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Enter Set Price MYR" value="">
                                            </mat-form-field>
                                        </div>
    
                                        <div class="col-sm-1 col-xs-12">
                                            <a href="#"><i class="fa fa-minus-square fatop" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-11 col-xs-12">
                                            <mat-form-field>
                                                <select matNativeControl required>
                                                    <option value="select">Speciality</option>
                                                    <option value="saab"></option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-11 col-xs-12">
                                            <mat-form-field>
                                                <select matNativeControl required>
                                                    <option value="select">Procedure</option>
                                                    <option value="saab"></option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-11 col-xs-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="About Procedure">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Set Price USD" value="">
                                            </mat-form-field>
                                        </div>
    
                                        <div class="col-sm-6 col-xs-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Set Price MYR" value="">
                                            </mat-form-field>
                                        </div>
    
                                        <div class="col-sm-1 col-xs-12">
                                            <a href="#"><i class="fa fa-minus-square fatop" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <button class="btn11 mb-4" type="button"><i aria-hidden="true" class="fa fa-plus"></i>
                        Add More Another Services
                    </button>
                </div>
            </div>
            </div>
    
        </div>
        <!-- End Services Supported -->
    
    

    
    
    </div>
    <!-- End ServiceForm -->