
h3{
    font-size: 21px;
    }
.prac-name {
    width:100% !important;
    }
.practioner-new h3{
        font-size: 21px;
        }
.addRow p a{ 
            color: #191201;
            font-weight: 600;
            text-decoration: none;
            }
.serviceform {
    margin: 0px;
    padding: 0px;
    border-radius: 12px;
    background: none;
    box-shadow:0 0px 0px 0 rgba(0, 0, 0, 0.0), 0 0px 0px 0 rgba(0, 0, 0, 0.0);
    width: auto;
    min-height: auto;
    }
.services-section{
   padding: 28px 25px;
   }
  b {
    font-size: 16px;
}