<div id="menu2" class="col-12"><br>
    <div class="row">
        <div class="col-md-4 practioner-new">
            <h3>My Procedure</h3>
        </div>

        <div class="col-md-5">
            <div class="search-formRow">
                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                        <label for="search" class="sr-only">Search</label>
                        <input type="text" class="form-control" name="search" id="search" placeholder="search">
                        <span class="glyphicon glyphicon-search form-control-feedback"><i class="fa fa-search"
                                aria-hidden="true"></i>
                        </span>
                    </div>
                </form>
            </div>
            <br clear="all">
        </div>
        <div class="col-md-3">
            <div class="addRow">
                <p>
                    <a [routerLink]="'/dashboard/my-procedures/add'">
                        <span><i class="fa fa-plus-square" aria-hidden="true"></i></span>Add / Update Procedure </a>
                </p>
            </div>
        </div>

    </div>
    <div class="serviceform">
  
        <div class="table-responsive">
            <div  *ngFor="let proc of listMyProcedure; let i = index">
                    <h3> {{proc.specialityName}}</h3>
                    <table class="table table-bordered">
                       <thead>
                          <tr>
                             <th>Procedure Name</th>
                             <th>About Procedure</th>
                             <th>Currency</th>
                            
                             <th>Price</th>
                          </tr>
                       </thead>
                       <tbody >
                        <tr class="trboder" *ngFor="let procedurelist of proc.procedure; let i = index">
                           
                             <td style="width:30%;">{{procedurelist.procedureName}}</td>
                             <td style="width:40%;">
                                    <div style="word-wrap: break-word;">
                                 {{procedurelist.aboutProcedure}} </div>
                                </td>
                             <td style="width:15%;">{{procedurelist.currency}}</td>
                             <td style="width:15%;">{{procedurelist.setPrice}}</td>
                          </tr>
                       </tbody>
                    </table>
            </div>
            
                <div class="no-records" *ngIf="listMyProcedure.length ==0">
                      <p>Not Available</p>
                  </div>
             </div>


       


    </div>

</div>
<ngx-spinner bdOpacity=1 bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="">
    <p style="font-size: 20px; color: white"></p>
    <img src="assets/img/loader.gif">
</ngx-spinner>