<div class="container" style="padding: 10px;">
    <div class="row">
        <div class="col-lg-3">
            <app-servicesidebar></app-servicesidebar>
        </div>
        <div class="mainframe1 mainframe2 col-lg-9">
            <div class="mainframeHeight">
                <div class="mainframeShadow">
                    <div class="mainframePadding">
                        <div class="mainframeForm">
                            <div class="ContentPadding">
                                <span class="ContentPadding .fontCss">Personal Information</span>
                                <span class="fontEditCss" (click)="edit()">Edit</span>
                            </div>
                            <div>
                                <form role="form" [formGroup]="profileViewForm" (ngSubmit)="profileUpdate()" novalidate>
                                    <div class="container">
                                        
                                        <div class="services-section">


                                            <div class="row">
                                                <div class="col-sm-6 col-xs-12">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Email" formControlName="email" name="email">
                                                    </mat-form-field>
                                                    <p *ngIf="errorState(profileViewControls.email, 'email').message"
                                                        class="help-block danger fw600"
                                                        [innerHTML]="errorState(profileViewControls.email, 'email').message">
                                                    </p>
                                                </div>
                        
                                                <div class="col-sm-6 col-xs-12">
                                                    <mat-form-field class="custom-full-width">
                                                        <input matInput placeholder="Mobile Number" formControlName="mobile">
                                                    </mat-form-field>
                                                    <p *ngIf="errorState(profileViewControls.mobile, 'mobile').message"
                                                        class="help-block danger fw600"
                                                        [innerHTML]="errorState(profileViewControls.mobile, 'mobile').message">
                                                    </p>
                                                </div>
                                                <div class="col-sm-6 col-xs-12">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Business Name" formControlName="businessName"
                                                            name="businessName">
                                                    </mat-form-field>
                                                    <p *ngIf="errorState(profileViewControls.businessName, 'businessname').message"
                                                        class="help-block danger fw600"
                                                        [innerHTML]="errorState(profileViewControls.businessName, 'businessname').message">
                                                    </p>
                                                </div>
                        
                                                <div class="col-sm-6 col-xs-12">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="About Business" formControlName="businessDesc"
                                                            name="businessDesc">
                                                    </mat-form-field>
                                                    <p *ngIf="errorState(profileViewControls.businessDesc, 'businessdesc').message"
                                                        class="help-block danger fw600"
                                                        [innerHTML]="errorState(profileViewControls.businessDesc, 'businessdesc').message">
                                                    </p>
                                                </div>
                        
                                                <div class="col-sm-6 col-xs-12">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Business Address" formControlName="businessAddress"
                                                            name="businessAddress">
                                                    </mat-form-field>
                                                    <p *ngIf="errorState(profileViewControls.businessAddress, 'businessaddress').message"
                                                        class="help-block danger fw600"
                                                        [innerHTML]="errorState(profileViewControls.businessAddress, 'businessaddress').message">
                                                    </p>
                                                </div>
                        
                                                <div class="col-sm-6 col-xs-12">
                                                    <mat-form-field>
                                                        <mat-label>Select an option</mat-label>
                                                        <mat-select formControlName="providerType" name="providerType">
                                                            <mat-option value="1">Health Service Provider</mat-option>
                                                            <mat-option value="2">Wellness Service Provider</mat-option>
                        
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                        
                                                <div class="col-sm-6 col-xs-12">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="City" formControlName="city" name="city">
                                                    </mat-form-field>
                                                    <p *ngIf="errorState(profileViewControls.city, 'city').message"
                                                        class="help-block danger fw600"
                                                        [innerHTML]="errorState(profileViewControls.city, 'city').message">
                                                    </p>
                                                </div>
                        
                                                <div class="col-sm-6 col-xs-12">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="State" formControlName="state" name="state">
                                                    </mat-form-field>
                                                    <p *ngIf="errorState(profileViewControls.state, 'state').message"
                                                        class="help-block danger fw600"
                                                        [innerHTML]="errorState(profileViewControls.state, 'state').message">
                                                    </p>
                                                </div>
                        
                                                <div class="col-sm-6 col-xs-12">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Country" formControlName="country" name="country">
                                                    </mat-form-field>
                                                    <p *ngIf="errorState(profileViewControls.country, 'country').message"
                                                        class="help-block danger fw600"
                                                        [innerHTML]="errorState(profileViewControls.country, 'country').message">
                                                    </p>
                                                </div>
                        
                                                <div class="col-sm-6 col-xs-12">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Pin Code" formControlName="zip" name="zip">
                                                    </mat-form-field>
                                                    <p *ngIf="errorState(profileViewControls.zip, 'zip').message" class="help-block danger fw600"
                                                        [innerHTML]="errorState(profileViewControls.zip, 'zip').message">
                                                    </p>
                                                </div>
                        
                        
                                                <div class="col-sm-6 col-xs-12">
                                                    <div class="file btn leftbtn waves-effect waves-light"><i aria-hidden="true"
                                                            class="fa fa-plus-square"></i>
                                                        <input formcontrolname="centerLogoFile" name="centerLogo" type="hidden" value=""
                                                            ng-reflect-name="centerLogoFile" class="ng-untouched ng-pristine ng-valid">
                        
                                                        <input type="file"
                                                            (change)="centerLogoUpload($event, serviceRegForm.controls['centerLogoFile'])">
                        
                        
                                                    </div>
                                                    Upload Logo
                                                </div>
                                                <div class="default-image">
                        
                                                    <img [src]="imgCenterURL" height="50" alt="" title=""></div>
                        
                                                <i class="fa fa-times delete-img" aria-hidden="true" *ngIf="imgCenterURL"></i>
                        
                                            </div>

                                            <div class="row" *ngIf="!profileUpdateButton">
                                                <div class="col-sm-12 col-xs-12 d-flex justify-content-center">
                                                    <div class="justify-content-center "><button (click)="showNext()" class="submit-btn"
                                                            type="submit"><a>Next</a></button>
                                                    </div>
                                                </div>
                                            </div>
                        
                        
                                        </div>

                                        

                                    </div>
                                    <!-- <div *ngIf="!profileUpdateButton">
                                        <input type="submit"></div> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
