<footer class="page-footer font-small cyan darken-3">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <div class="container">
            <!-- Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-12">
                    <div class="footerIcon flex-center">
                        <!-- Facebook -->
                        <a class="fb-ic" href="javascript:void(0);"> <i class="fa fa-facebook-f fa-lg white-text mr-3 fa-2x"> </i> </a>

                        <!-- Twitter -->
                        <a class="tw-ic" href="javascript:void(0);"> <i class="fa fa-twitter fa-lg white-text  mr-3 fa-2x"> </i> </a>

                        <!--Instagram-->
                        <a class="ins-ic" href="javascript:void(0);"> <i class="fa fa-instagram fa-lg white-text mr-3 fa-2x"> </i> </a>

                        <!--Youtube-->
                        <a class="ins-ic" href="javascript:void(0);"> <i class="fa fa-youtube fa-lg white-text mr-3 fa-2x"> </i> </a>

                        <!--linkin-->
                        <a class="ins-ic" href="javascript:void(0);"> <i class="fa fa-linkedin fa-lg white-text mr-3 fa-2x"> </i> </a>

                        <!--pinterest--->

                        <a class="ins-ic" href="javascript:void(0);"> <i class="fa fa-pinterest-p fa-lg white-text mr-3 fa-2x"> </i> </a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
            <div _ngcontent-jyo-c5="" class="container">
                <div _ngcontent-jyo-c5="" class="footer-copyright text-center py-3"> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">Terms &amp; Conditions</a> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">Privacy Policy</a> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">( c ) 2019 - 2027 Sihatku.com</a> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">Payment Policy</a> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">Disclamer</a> <a _ngcontent-jyo-c5="" class="mr-4" href="javascript:void(0);">FAQs etc</a></div>
            </div>
        </div>
        <!-- Copyright -->
    </div>
</footer>