<div id="menu2" class="col-12"><br> 
    <h3>My Payments</h3>
<div class="table-responsive">
  <!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th>Payment&nbsp;Id</th>
        <th>Payment&nbsp;Amount</th>
        <th>Paid&nbsp;By</th>
        <th>Date&nbsp;of&nbsp;Payment</th>
        <th>Orders&nbsp;Id</th>          
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>654321</td>
        <td>MYR&nbsp;100/USD50</td>
        <td>Cash</td>
        <td>16/11/2019</td>
        <td>123444</td>          
      </tr>       
    
      
    </tbody>
  </table> -->
  <div class="no-records">
    <p>Comming Soon</p>
</div>
</div>
  </div>