<footer class="page-footer font-small cyan darken-3">
    <div class="container">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <!-- Grid row-->





            <!-- Grid row-->
            <a href="#" class="mr-4">Terms & Conditions</a>
            <a href="#" class="mr-4">Privacy Policy</a>
            <a href="#" class="mr-4">( c ) 2019 - 2027 Sihatku.com</a>

            <a href="#" class="mr-4">Payment Policy</a>

            <a href="#" class="mr-4">Disclamer</a>

            <a href="#" class="mr-4">FA Qs etc</a>





        </div>
        <!-- Copyright -->
    </div>





</footer>