<!----------------------------------------------------------->
<!-- <div class="editporfilebg">
    <div class="container">
       <div class="row">
          <div class="col-lg-12"> -->
<!-- <h2>My Dashboard</h2> -->
<!-- <h2></h2> -->
<!------------------------------------------------------>
<!-- <div class="verticaltabs"> -->

  
   <!-- <div class="tab">
      <button class="tablinks">
         <div class="picbox">
            <label for="file-input">
               <img *ngIf ="userDetails.profile_image" [src]="imageBaseUrl+ '/'+userDetails.profile_image">
               <img *ngIf ="!userDetails.profile_image" alt="First slide" src="assets/img/no-img.png">
            </label>
            <input id="file-input" type="file" #profilePictureUpload (change)="fileProgress($event)" />
           <div class="editbox" (click)="profilePictureUpload.click()">
               <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
         </div>
        <h3>{{userDetails.name}}</h3>
         <p>{{userDetails.email}}</p>
         <p>{{userDetails.contact}}</p>
      </button>
      <div >
        <button class="tablinks" [routerLink]="['/order', 1]" >My Order</button>
       </div>
      
   </div>
  -->
<!-- </div> -->

<div class=".mainBox">
   
      <div class="headersideBar">
         <div class="innerHeader row">
            <img class="profilePic" height="50px" width="50px" src="../../../../assets/img/profilepic.jpg">
            <div class="profileName hello">Hello
               <!-- <div class="profileName">dfadfsd</div></div> -->
            
            
         </div>
         
      </div>
      
  
</div>
<div class="sideBarMiddle sideBarMiddleColor">
   <div>
      <div class="_2ACZMj">
         <div class="myOrders row">
            <div class="myOrdersLogo"><span class="glyphicon">&#x2709;</span> </div>
            <div class="myOrdersContent">Myorders</div>
            </div>
      </div>
      <div class="borderLine"></div>
   </div>
   

   <div>
      <div class="_2ACZMj">
         <div class="myOrders row">
            <div class="myOrdersLogo"><i class="fa fa-user"></i></div>
            <div class="myOrdersContent">My Profile</div>
            </div>
      </div>
      <div class="borderLine"></div>
   </div>
<div>
   <div class="_2ACZMj">
      <div class="myOrders row">
         <div class="myOrdersLogo"><i class="fa fa-envelope"></i></div>
         <div class="myOrdersContent">Inbox</div>
         </div>
   </div>
   <div class="borderLine"></div>
</div>
<div>
   <div class="_2ACZMj">
      <div class="myOrders row">
         <div class="myOrdersLogo"><i class="fa fa-user-times"></i></div>
         <div class="myOrdersContent">Deactivate Account</div>
         </div>
   </div>
   <div class="borderLine"></div>
</div>
<div>
   <div class="_2ACZMj">
      <div class="myOrders row">
         <div class="myOrdersLogo"><i class="fa fa-window-close"></i></div>
         <div class="myOrdersContent">Log Out</div>
         </div>
   </div>
   <div class="borderLine"></div>
</div>
</div>

</div>

