<div class="close-icon" (click)="closeModal()"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
<div class="loginSection">
   <tabset *ngIf="showModal==1">
      <tab heading="Login" id="tab1">
         <form role="form" [formGroup]="signInForm" (ngSubmit)="signIn()" novalidate>
         <div class="form-group">
            <mat-form-field class="custom-full-width">
               <input matInput placeholder="Email" type="email" name="email" formControlName="email">
            </mat-form-field>
            <p *ngIf="errorState(signinControls.email, 'email').message" class="help-block danger fw600" [innerHTML]="errorState(signinControls.email, 'email').message">
            </p>
         </div>
         <div class="form-group">
            <mat-form-field class="custom-full-width">
               <input matInput type="password" placeholder="Password" formControlName="password" name="password"
                  class="no-background-custom">
            </mat-form-field>
            <p *ngIf="errorState(signinControls.password, 'password').message" class="help-block danger fw600" [innerHTML]="errorState(signinControls.password, 'password').message">
            </p>
         </div>
         <button type="submit" class="btn btn-primary" [disabled]="!signInForm.valid">Log in</button>
         </form>
         <div>
            <br>
            <p ><span (click)="gotoForgotPass()" style="font-weight: bold;">Forgot Password? Click Here</span></p>
         </div>
      </tab>
      <!---------Signup------------------------>
      <tab heading="Sign Up">
         <form role="form" [formGroup]="signupForm" (ngSubmit)="signUp()" novalidate>
         <div class="container">
            <div class="row">
               <div class="col-6">
                  <div class="form-group" style="width: 200;">
                     <mat-form-field class="custom-full-width">
                        <input matInput placeholder="First Name" formControlName="firstName" name="firstName">
                     </mat-form-field>
                     <p *ngIf="errorState(signupControls.firstName, 'firstName').message" class="help-block danger fw600" [innerHTML]="errorState(signupControls.firstName, 'firstName').message">
                     </p>
                  </div>
               </div>
               <div class="col-6">
                  <div class="form-group">
                     <mat-form-field class="custom-full-width">
                        <input matInput placeholder="Last Name" formControlName="lastName">
                     </mat-form-field>
                     <p *ngIf="errorState(signupControls.lastName, 'lastName').message" class="help-block danger fw600" [innerHTML]="errorState(signupControls.lastName, 'lastName').message">
                     </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-6">
                  <div class="form-group">
                     <mat-form-field>
                        <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="DOB">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker>
                        </mat-datepicker>
                     </mat-form-field>
                     <p *ngIf="errorState(signupControls.dob, 'dob').message" class="help-block danger fw600" [innerHTML]="errorState(signupControls.dob, 'dob').message">
                     </p>
                  </div>
               </div>
               <div class="col-6">
                  <div class="form-group">
                     <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <mat-select name="gender" formControlName="gender">
                           <mat-option [value]="gender.id" *ngFor="let gender of genderList">
                           {{gender.type}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <p *ngIf="errorState(signupControls.gender, 'gender').message" class="help-block danger fw600" [innerHTML]="errorState(signupControls.gender, 'gender').message">
                     </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-6">
                  <div class="form-group">
                     <mat-form-field>
                        <mat-label>Country</mat-label>
                        <mat-select name="country" formControlName="country">
                           <mat-option [value]="country.countryID" *ngFor="let country of listCountry">
                           {{country.Name}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <p *ngIf="errorState(signupControls.country, 'country').message" class="help-block danger fw600" [innerHTML]="errorState(signupControls.country, 'country').message">
                     </p>
                  </div>
               </div>
               <div class="col-6">
                  <div class="form-group">
                     <mat-form-field class="custom-full-width">
                        <input matInput placeholder="Mobile Number" formControlName="mobile">
                     </mat-form-field>
                     <p *ngIf="errorState(signupControls.mobile, 'mobile').message" class="help-block danger fw600" [innerHTML]="errorState(signupControls.mobile, 'mobile').message">
                     </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <div class="form-group">
                     <mat-form-field class="custom-full-width">
                        <input matInput placeholder="Email" formControlName="email">
                     </mat-form-field>
                     <p *ngIf="errorState(signupControls.email, 'email').message" class="help-block danger fw600" [innerHTML]="errorState(signupControls.email, 'email').message">
                     </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-6">
                  <div class="form-group">
                     <mat-form-field>
                        <input matInput type="password" placeholder="Password" formControlName="password"
                           class="no-background-custom">
                     </mat-form-field>
                     <p *ngIf="errorState(signupControls.password, 'password').message" class="help-block danger fw600" [innerHTML]="errorState(signupControls.password, 'password').message">
                     </p>
                  </div>
               </div>
               <div class="col-6">
                  <div class="form-group">
                     <mat-form-field>
                        <input matInput type="password" placeholder="Confirm Password"
                           formControlName="confirmPassword" class="no-background-custom">
                     </mat-form-field>
                     <p *ngIf="errorState(signupControls.confirmPassword, 'confirmPassword').message" class="help-block danger fw600" [innerHTML]="errorState(signupControls.confirmPassword, 'confirmPassword').message">
                     </p>
                  </div>
               </div>
            </div>
            <button [disabled]="!signupForm.valid" type="submit" class="btn btn-primary">Sign Up</button>
         </div>
         </form>
      </tab>
   </tabset>
   <!------------Forget password------------------>
   <tabset *ngIf="showModal==2">
      <tab heading="Forgot Password">
         <form role="form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgetPass()" novalidate>
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="form-group" style="width: 200;">
                     <mat-form-field class="custom-full-width">
                        <input matInput placeholder="Email" formControlName="email" name="email">
                     </mat-form-field>
                     <p *ngIf="errorState(forgotPasswordControls.email, 'email').message" class="help-block danger fw600" [innerHTML]="errorState(forgotPasswordControls.email, 'email').message">
                    </p>
                  </div>
                  <button [disabled]="!forgotPasswordForm.valid" type="submit" class="btn btn-primary">Submit</button>
               </div>
               <div class="col-12"><br>
                  <span (click)="backtoLogin()" style="font-weight: bold;">Back to login</span>
               </div>
            </div>
         </div>
         </form>
      </tab>
   </tabset>
   <!----------------------OTP Form-------------------------------->
   <tabset *ngIf="showModal==3">
      <tab heading="Forgot Password">
         <form role="form" [formGroup]="forgotOTPForm" (ngSubmit)="otpMatch()" novalidate>
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="form-group" style="width: 200;">
                     <mat-form-field class="custom-full-width">
                        <input type="password" class="no-background-custom" matInput placeholder="OTP" formControlName="otp" name="otp">
                     </mat-form-field>
                     
                     <p *ngIf="errorState(forgotOTPControls.otp, 'otp').message" class="help-block danger fw600" [innerHTML]="errorState(forgotOTPControls.otp, 'otp').message">
                    </p> 
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
               </div>
               <div class="col-12"><br>
                  <span (click)="backtoLogin()" style="font-weight: bold;">Back to login</span>
               </div>
            </div>
         </div>
         </form>
      </tab>
   </tabset>
   <!----------------------Change Password Form-------------------------------->
   <tabset *ngIf="showModal==4">
      <tab heading="Change Password">
         <form role="form" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()" novalidate>
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="form-group" style="width: 200;">
                     <mat-form-field class="custom-full-width">
                        <input type="password" class="no-background-custom" matInput placeholder="Password" formControlName="password">
                     </mat-form-field>
                     <p *ngIf="errorState(changePasswordControls.password, 'password').message" class="help-block danger fw600" [innerHTML]="errorState(changePasswordControls.password, 'password').message">
                    </p> 
                  </div>
                 
               </div>
       
            </div>
            <div class="row">
               <div class="col-12">
                  <div class="form-group" style="width: 200;">
                     <mat-form-field class="custom-full-width">
                        <input type="password" class="no-background-custom" matInput placeholder="confirmPassword" formControlName="confirmPassword">
                     </mat-form-field>
                     <p *ngIf="errorState(changePasswordControls.confirmPassword, 'confirmPassword').message" class="help-block danger fw600" [innerHTML]="errorState(changePasswordControls.confirmPassword, 'confirmPassword').message">
                    </p> 
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
  
                  <button type="submit" class="btn btn-primary">Submit</button>
               </div>
               <div class="col-12"><br>
                  <span (click)="backtoLogin()" style="font-weight: bold;">Back to login</span>
               </div>
            </div>
         </div>
         </form>
      </tab>
   </tabset>
</div>