<div class="close-icon" (click)="closeModal()"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
<div class="loginSection">

    <tabset *ngIf="showLogin">
        <tab heading="Login" id="tab1">

            <form role="form" [formGroup]="signInForm" (ngSubmit)="submitSigninForm()" novalidate>

                <div class="form-group">
               <mat-form-field class="custom-full-width">
                        <input matInput placeholder="Email" formControlName="userName">
                        <mat-error *ngIf="errorHandling(signInForm,'userName', 'required')">
                            Please enter User Name
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                  
                    <mat-form-field class="custom-full-width">
                        <input matInput type="password" placeholder="Password" formControlName="password"
                            class="no-background-custom">
                        <mat-error *ngIf="errorHandling(signInForm,'password', 'required')">
                            Please enter a minimum 6 length password
                        </mat-error>
                    </mat-form-field>
                </div>

                <button type="submit" class="btn btn-primary">Log in</button>
            </form>

            <div><br><p (click)="gotoForgotPass()"><span style="font-weight: bold;">Forgot Password? Click Here</span></p></div>
        </tab>
 <!-------------------------------------------------------------Signup---------------------------------------------------------------------->
        <tab heading="Sign Up">


            <form role="form" [formGroup]="signupForm" (ngSubmit)="signUp()" novalidate>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group" style="width: 200;">
                                
                                <mat-form-field class="custom-full-width">
                                    <input matInput placeholder="First Name" formControlName="firstName">
                                    <mat-error *ngIf="errorHandling(signupForm,'firstName', 'required')">
                                        Please enter First Name
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

       
                        <div class="col-6">
                            <div class="form-group">
                               
                                <mat-form-field class="custom-full-width">
                                    <input matInput placeholder="Last Name" formControlName="lastName">
                                    <mat-error *ngIf="errorHandling(signupForm,'lastName', 'required')">
                                        Please enter Last Name
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="DOB">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker >
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                              
                                <mat-form-field>
                                    <mat-label>Gender</mat-label>
                                    <mat-select name="gender" formControlName="gender">
                                        <mat-option [value]="gender.id" *ngFor="let gender of genderList">
                                            {{gender.type}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="errorHandling(signupForm,'gender', 'required')">
                                        Please select Gender
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                               
                                <mat-form-field>
                                    <mat-label>Country</mat-label>
                                    <mat-select name="country" formControlName="country">
                                        <mat-option [value]="country.countryID" *ngFor="let country of listCountry">
                                            {{country.Name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="errorHandling(signupForm,'country', 'required')">
                                        Please select Country
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">

                            <div class="form-group">
                               
                                <mat-form-field class="custom-full-width">
                                    <input matInput placeholder="Mobile Number" formControlName="mobile">
                                    <mat-error *ngIf="errorHandling(signupForm,'mobile', 'required')">
                                        Please enter valid Mobile Number
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>



                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                              
                                <mat-form-field class="custom-full-width">
                                    <input matInput placeholder="Email" formControlName="email">
                                    <mat-error *ngIf="errorHandling(signupForm,'email', 'required')">
                                        Please enter a valid Email
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                               
                                <mat-form-field>
                                    <input matInput type="password" placeholder="Password" formControlName="password"
                                        class="no-background-custom">
                                    <mat-error *ngIf="errorHandling(signupForm,'password', 'required')">
                                        Please enter minimum 6 length password
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                              
                                <mat-form-field>
                                    <input matInput type="password" placeholder="Confirm Password"
                                        formControlName="confirmPassword" class="no-background-custom">
                                
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </form>
        </tab>
    </tabset>

    <!---------------------------Forget password-------------------------------------------------------------------------------->
    <tabset *ngIf="!showLogin">
        <tab heading="Forgot Password">
            <form role="form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgetPass()" novalidate>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" style="width: 200;">
                                <mat-form-field class="custom-full-width">
                                    <input matInput placeholder="Email-id" formControlName="email">
                                    <mat-error *ngIf="errorHandling(forgotPasswordForm,'email', 'required')">
                                        Please enter Valid Email-id
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <button type="submit" class="btn btn-primary">Verify your account</button>
                        </div>
                        <div class="col-12"><br><p (click)="backtoLogin()"><span style="font-weight: bold;">Back to login</span></p></div>
                    </div>
                </div>
            </form>


        </tab>
    </tabset>
    <!-------------------------------------------------------------Signup---------------------------------------------------------------------->



</div>
<!-- 
<ngx-spinner bdOpacity=1 bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<!-- <form role="form" [formGroup]="otpForm" (ngSubmit)="onOTPSubmit()" novalidate>
    <div class="form-group">
        <label for="otp">OTP:</label>
        <input type="text" class="form-control" id="otp" name="otp" formControlName="otp"
            [ngClass]="{ 'is-invalid': submitted && f1.otp.errors }">
        <div *ngIf="submitted && f1.otp.errors" class="invalid-feedback">
            <div *ngIf="f1.otp.errors.required">OTP is required</div>
            <div *ngIf="!f1.otp.errors.pattern && f1.otp.errors.minlength">Mobile Number must be at least 4
                numeric characters</div>
            <div *ngIf="!f1.otp.errors.pattern && f1.otp.errors.maxlength">Mobile Number can not be more
                than 4 numeric characters</div>
            <div *ngIf="f1.otp.errors.pattern">Only numeric characters are allowed</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>  -->