<div id="menu1" class="col-12">
    <h3>New Orders</h3>
    
<div class="col-12 p-0 table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Orders&nbsp;Id</th>
        <th>Procedure</th>
        <th>Procedure&nbsp;Price</th>
        <th>Discount</th>
        <th>Customer&nbsp;Name</th>
        <th>Customer&nbsp;Ph.&nbsp;No.</th>
        <th>Gender</th>
        <th>Country</th>
        <th>Appointment&nbsp;Date</th>
        <th>Payment&nbsp;Amount</th>
        <th>Payment&nbsp;Method</th>
        <th>Payment&nbsp;Status</th>
        <th>Practitioner</th>
        <th>Appointment&nbsp;Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>654321</td>
        <td>Stress&nbsp;Test</td>
        <td>MYR&nbsp;100/USD50</td>
        <td>10%</td>
        <td>Mr.Rafee</td>
        <td>0000000000</td>
        <td>Male</td>
        <td>Malaysia</td>
        <td>16.11.2019</td>
        <td>MYR&nbsp;100/USD50</td>
        <td>Cash</td>
        <td>
       <select class="mdb-select">
          <option value="1">Choose Option</option>
          <option value="2">Pay Online</option>
          <option value="2">Bank Transfers</option>
          <option value="2">Cash</option>
          <option value="2">Direct Deposit</option>
          <option value="2">Pending</option>
       </select> 
        </td>
        <td>
       <select class="mdb-select">
          <option value="1">Choose Option</option>
          <option value="2">.....</option>		
       </select>
        </td>
        <td>
       <select class="mdb-select">
          <option value="1">Choose Option</option>
          <option value="2">.....</option>		
       </select>
        </td>          
      </tr>         
    </tbody>
  </table>
</div>
</div>