<app-header></app-header>
<app-carticon></app-carticon>
<!-- <div class="wocommersbox"> <a [routerLink]="'/cart'"><i class="fa fa-cart-plus" aria-hidden="true"></i></a> </div> -->
<!-- <div class="backToTop"> <a href="javascript:void(0)"><i class="" aria-hidden="true"></i></a> Back to top</div> -->



<section class="iconSection-other">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" (click)="gotoProcedure(speciality.specialityID)" *ngFor="let speciality of specialitylist; let i = index">
                <div class="iconSectionBox-other">
                    <div class="iconSectionRound"> <img [src]="speciality.specialityImgURL" alt="" title=""> 
                        <h2>{{speciality.specialityName}}</h2>
                    </div>
                    
                </div>
            </div>
    
        </div>
    </div>
</section>

<!-----iconbox---->




<div class="clearfix"></div>

<app-footer></app-footer>

<ngx-spinner bdOpacity=1 bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <!-- <p style="font-size: 20px; color: white">
    
    </p> --> <p style="font-size: 20px; color: white">
    
    </p>
    <img src="assets/img/loader.gif">
</ngx-spinner>