.iconSectionRound img {
    // width:65px;
}

.iconSectionBox-other {
    margin-bottom: 25px;
}

.iconSectionBox-other  h2 {
    text-align: center;
    padding: 7px 0px 24px 0px;
    margin: 0px;
    line-height: 10px;
    font-size: 13px;
}