<div class=".mainBox">
   
    <div class="headersideBar">
       <div class="innerHeader row">
          <img class="profilePic" height="50px" width="50px" src="../../../../assets/img/profilepic.jpg">
          <div class="profileName hello">Hello
             <!-- <div class="profileName">dfadfsd</div></div> -->
          
          
       </div>
       
    </div>
    

</div>
<div class="sideBarMiddle sideBarMiddleColor">
 

 <div>
    <div class="_2ACZMj">
       <div class="myOrders row">
          <div class="myOrdersLogo"><i class="fa fa-user"></i></div>
          <div class="myOrdersContent">My Profile</div>
          </div>
    </div>
    <div class="borderLine"></div>
 </div>
<div>
 <div class="_2ACZMj">
    <div class="myOrders row">
       <div class="myOrdersLogo"><i class="fa fa-user-times"></i></div>
       <div class="myOrdersContent">Deactivate Account</div>
       </div>
 </div>
 <div class="borderLine"></div>
</div>
<div>
 <div class="_2ACZMj">
    <div class="myOrders row">
       <div class="myOrdersLogo"><i class="fa fa-window-close"></i></div>
       <div class="myOrdersContent">Log Out</div>
       </div>
 </div>
 <div class="borderLine"></div>
</div>
</div>

</div>
