<div class=".mainBox">

   <div class="headersideBar">
      <div class="innerHeader row">
         <img class="profilePic" height="50px" width="50px" src="assets/img/no-img.png">
         <div class="profileName hello">Hello
            <!-- <div class="profileName">dfadfsd</div></div> -->


         </div>

      </div>


   </div>
   <div class="sideBarMiddle sideBarMiddleColor">


      <div>
         <div class="_2ACZMj">
            <div class="myOrders row" [routerLink]="'/dashboard/myProfile'">
               <div class="myOrdersLogo"><i class="fa fa-user"></i></div>
               <div class="myOrdersContent">My Profile</div>
            </div>
         </div>
         <div class="borderLine"></div>
      </div>
      <div>
         <div class="_2ACZMj">
            <div class="myOrders row" [routerLink]="'/dashboard/myProfile/changepassword'">
               <div class="myOrdersLogo"><i class="fa fa-key" aria-hidden="true"></i></div>
               <div class="myOrdersContent">Change Password</div>
            </div>
         </div>
         <!-- <div class="_2ACZMj">
            <div class="myOrders row"  [routerLink]="'/dashboard/myProfile/deactivate'">
               <div class="myOrdersLogo"><i class="fa fa-user-times"></i></div>
               <div class="myOrdersContent">Deactivate Account</div>
            </div>
         </div> -->
         <div class="borderLine"></div>
      </div>
      <div>
         <div class="_2ACZMj">
            <div class="myOrders row" (click)="logOut()">
               <div class="myOrdersLogo"><i class="fa fa-window-close"></i></div>
               <div class="myOrdersContent">Log Out</div>
            </div>
         </div>
         <div class="borderLine"></div>
      </div>
   </div>

</div>
