.leftbtn input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.leftbtn.btn {
    padding: 7px 8px;
    font-size: 30px;
    border-radius: 4px;
    height: 60px !important;
    width: 60px;
    border: 1px solid #fcbe11;
    cursor: pointer;
    margin-bottom: 16px;
    margin-top: 8px;
    margin-right: 8px;
    position: relative;
    background: #fff;
}
.leftbtn.btn .fa {
    color: #FCBE11;
}

.services-section {
    padding: 25px 25px;
 }
 .addRow p a{ 
     color: #191201;
     font-weight: 600;
     text-decoration: none;
     }
     h3{
        font-size: 21px;
        margin-top: 15px;
        }
.btn-primary {
            color: #fff;
            background-color: #f9b704;
            border-color: #f9b704;
        }