<!---------------banner-------------------->

<div class="innerbaner-bg">
  <div class="innerbaner-sction-title">


    <p><a [routerLink]="'/home'">Home</a> &gt; About Us</p>
  </div>
  <img src="assets/img/inner-bg.jpg" class="d-block w-100" alt="...">
</div>


<!----------------end-banner------------------------------->


<div class="about-section-one">
  <div class="container">
    <div class="row">


      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <div class="about-img">
          <img src="assets/img/about-pic1.jpg" alt="">
        </div>


      </div>


      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <div class="about-text">

          <h1>About <span>Us</span></h1>
          <h2>Cum sociis natoque penatibus et magnis dis parturient montesmus, Proin
            Cum sociis natoque penatibus et magnis dis parturient montesmus, Proin
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit amet
            eros sagittis, quis hendrerit libero aliquam. Fusce semper augue ac dolor efficitur, a pretium
            metus pellentesque.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit amet
            eros sagittis, quis hendrerit libero aliquam. Fusce semper augue ac dolor efficitur, a pretium
            metus pellentesque.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit amet
            eros sagittis, quis hendrerit libero aliquam. Fusce semper augue ac dolor efficitur, a pretium
            metus pellentesque.</p>

        </div>


      </div>





    </div>
  </div>
</div>


<!----------------start-footer----------------------------->


<!----------------start-nearby-section----------------------------->


<div class="nearby-section">


  <div class="container">

    <div class="row">
 <div class="container">
        <section class="customer-logos slider">
          <owl-carousel-o [options]="aboutOptions">
            <ng-template carouselSlide *ngFor="let media of mediaList; let i = index">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="nearby-section-box">
                  <div class="nearby-section-box-left">

                    <div class="nearby-section-box-circle"><span><i class="fa fa-hospital-o" aria-hidden="true"></i>
                      </span>

                    </div>
                  </div>

                  <div class="nearby-section-box-right">
                    <h2>Lorem ipsum dolor</h2>
                    <p>Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                      Suspendisse porta erat sit
                      amet eros sagittis, quis hend
                      rerit libero aliquam. </p>


                  </div>


                  <div class="bookappo"><a href="JavaScript:Void(0)" class="btn btn-default"><i class="fa fa-calendar"
                        aria-hidden="true"></i> Book Appointment</a></div>


                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </section>
      </div>

    </div>

  </div>

</div>

<!----------------start-nearby-section----------------------------->

<!----------------start-aboutservices-section---------------------->


<div class="about-services">


  <div class="container">

    <div class="row">

      <div class="about-services-title">
        <h2>Our <span>Best Services</span></h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit amet eros sagittis, quis
          hendrerit libero aliquam. orem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit
          amet eros sagittis, quis hendrerit libero aliquam. </p>

      </div>


      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="about-services-left">


          <div class="about-services-left-box">

            <div class="about-services-left-box-left"><span><i class="fa fa-user-md" aria-hidden="true"></i></span>
            </div>
            <div class="about-services-left-box-right">
              <h3>General health care</h3>
              <p>Lorem ipsum dolor sit amet,consectetur.Lorem ipsum dolor sit amet,consectetur.Lorem ipsum Lorem ipsum
                dolor sit amet,consectetur</p>



            </div>
          </div>


          <div class="about-services-left-box">

            <div class="about-services-left-box-left"><span><i class="fa fa-user-md" aria-hidden="true"></i></span>
            </div>
            <div class="about-services-left-box-right">
              <h3>General health care</h3>
              <p>Lorem ipsum dolor sit amet,consectetur.Lorem ipsum dolor sit amet,consectetur.Lorem ipsum Lorem ipsum
                dolor sit amet,consectetur</p>



            </div>
          </div>

          <div class="about-services-left-box">

            <div class="about-services-left-box-left"><span><i class="fa fa-user-md" aria-hidden="true"></i></span>
            </div>
            <div class="about-services-left-box-right">
              <h3>General health care</h3>
              <p>Lorem ipsum dolor sit amet,consectetur.Lorem ipsum dolor sit amet,consectetur.Lorem ipsum Lorem ipsum
                dolor sit amet,consectetur</p>



            </div>
          </div>






        </div>
      </div>
      <br clear="all">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="about-services-center">
          <img src="assets/img/services-lady.png" alt="">
        </div>
      </div>



      <br clear="all">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">


        <div class="about-services-right">




          <div class="about-services-right-box">


            <div class="about-services-right-box-left">
              <h3>General health care</h3>
              <p>Lorem ipsum dolor sit amet,consectetur.Lorem ipsum dolor sit amet,consectetur.Lorem ipsum Lorem ipsum
                dolor sit amet,consectetur</p>



            </div>
            <div class="about-services-right-box-right"><span><i class="fa fa-user-md" aria-hidden="true"></i></span>
            </div>
          </div>


          <div class="about-services-right-box">


            <div class="about-services-right-box-left">
              <h3>General health care</h3>
              <p>Lorem ipsum dolor sit amet,consectetur.Lorem ipsum dolor sit amet,consectetur.Lorem ipsum Lorem ipsum
                dolor sit amet,consectetur</p>



            </div>
            <div class="about-services-right-box-right"><span><i class="fa fa-user-md" aria-hidden="true"></i></span>
            </div>
          </div>

          <div class="about-services-right-box">


            <div class="about-services-right-box-left">
              <h3>General health care</h3>
              <p>Lorem ipsum dolor sit amet,consectetur.Lorem ipsum dolor sit amet,consectetur.Lorem ipsum Lorem ipsum
                dolor sit amet,consectetur</p>



            </div>
            <div class="about-services-right-box-right"><span><i class="fa fa-user-md" aria-hidden="true"></i></span>
            </div>
          </div>




















        </div>


      </div>







    </div>
  </div>
</div>

<!----------------start-aboutservices-section---------------------->

<div class="clearfix"></div>